{{> headerIn}}
    <div class="col-md-6 text-center col-lg">
      <img class="profile-img" src={{imageURL}} />
      <div class="profile-info">
        <p>Username: <small>{{userid}}</small></p>
      {{#if count}}  
        <p class="infoType">Organizer of {{count}} events.</p>
        {{#each events}}
        <p class= "infoType">{{name}}</p>
        {{/each}}
      {{else}}  
        <p>No events</p>
       {{/if}} 
      </div>
    </div>
{{> footer}} 

